nav{
  background-color: rgb(0, 19, 53);
}
.nestt{
  color: rgb(229, 233, 237);
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hom
{
  color: rgba(233, 233, 233, 0.851);
  font-style:italic;
}


